.my-memes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3%;
  grid-template-columns: 4;
  background-color: rgb(30, 30, 30);
  color: #bebebe;
  height: fit-content;
  min-height: 175vh;
  padding: 2%;
  margin-bottom: 1%;
  width: 100%;
} 

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: #bebebe;
  margin: 0;
  padding-top: 20%;
}

@media (max-width: 450px) {
  .my-memes {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    padding-bottom: 20%;
  }
}