.my-memes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-columns: 4;
  background-color: rgb(38, 38, 38);
  color: #bebebe;
  height: fit-content;
  min-height: 175vh;
  // margin: auto;
  padding: 25px;
  margin-bottom: 10px;
}