.my-memes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-columns: 4;
  background-color: rgb(30, 30, 30);
  color: #bebebe;
  height: fit-content;
  min-height: 175vh;
  // margin: auto;
  padding: 25px;
  margin-bottom: 10px;
} 

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: #bebebe;
  margin: 0;
  padding-top: 20%;
}