.main {
  background-color: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bebebe;
  max-height: 150vh;
  min-height: 85vh;
  width: 100%;
  margin: auto;
  padding: 0%;
  & .meme-img {
    width: 35vw;
    margin-bottom: 0%;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 1% 0%;
}

button {
  margin: 30%;
}