.saved-meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bebebe;
  max-width: 42vw;
  max-height: 45vw;
  margin-bottom: 1vh;
  padding-bottom: 5vh;
} 

.saved-image {
 width: 90%;
 height: 83%;
 margin: 5%;
 object-fit: fill;
}

button {
  margin: 1% 20%;
  font-size: 2vw;
}

@media screen and (max-width: 750px) {
  button {
    font-size: 3vw;
    width: 25vw;
    padding: 0vh;
  }
}
