.saved-meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bebebe;
} 

.saved-image {
 width: 90%;
 height: 80%;

 margin: 2%;
 object-fit: fill;
}

button {
  margin: 0;
}
